body {
  background-color: black;
  color: white;
}

$header-height: 50px;

header {
  background-color: skyblue;
  height: $header-height;

  nav {
    height: 100%;

    ul {
      height: 100%;
      display: flex;

      justify-content: center;
      align-items: center;
      gap: 20px;

      li {
        list-style: none; // 리스트 스타일 제거
        border: 1px solid navy;
        height: 80%;
        justify-content: center;
        align-items: center;
        display: flex;

        transition: all 0.3s;
        a {
          text-decoration: none; // 밑줄 제거
        }

        &:hover { // &는 현재 선택된 요소 (li)를 의미
          background-color: navy;
          
        }
      }
    }
  }
}

.menu {
  .odd {
    color: red;
  }
}


.card-box {
  max-width: 800px;
  min-width: 300px;
  border: 1px solid white;
  display: flex;
  gap: 2px;
  padding-top: $header-height; // 헤더 높이만큼 패딩 추가

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .card-container {
    width: 100px;
    height: 150px;
    border: 1px solid red;

    .card {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

$path: "./Cards";
$prefix: "cardHearts";

@for $i from 1 through 13 {
  $lable: $i;

  @if $i == 1 {
    $lable: "A";
  } @else if $i == 11 {
    $lable: "J";
  } @else if $i == 12 {
    $lable: "Q";
  } @else if $i == 13 {
    $lable: "K";
  }
  .card-box .card-container:nth-child(#{$i}) .card {
    background-image: url("Cards/cardHearts#{$lable}.png");
  }
}

footer {
  background-color: skyblue;
  height: $header-height;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;

  justify-content: center;
  align-items: center;

  .logo{
    flex: 1 1 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      height: 100%;
      width: 400px;
    }
  }

  .contact-info {
    flex: 3 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: black; 
  } 
}