@import url("./box.css");
/* CSS 주석과 사용 방식에 대해 배움 */
div {
  width: 200px;
  height: 200px;
  background: url("../images/image.jpg");
} 
span {
  font-size: 50px;
}

table {

}
tr {

}
td {
  border: 1px saddlebrown;
  padding: 10px;
}