
.parent {
    position: relative;
    width: 50vm;
    height: 50vm;
    background-color: lightblue;
}

.child {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: lightcoral; 
    border: 2px solid;
    z-index: 3;
}

.child:nth-child(1) {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    border: 4px solid darkred;
    position: absolute;
    z-index: 1;
}

.child:nth-child(3) {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border: 4px solid darkgreen;
    position : absolute;
    left: 50px;
    bottom: 100px;
}