// @import "./node_modules/bootstrap/scss/bootstrap"

$my-color: orange; // $my-color 변수를 선언하고, red 값을 대입
$my-font-size: 10px; // $my-font-size 변수를 선언하고, 40px 값을 대입

body {
  font-size: $my-font-size;
  background-color: $my-color;
  .card_container {
    border: blue 0.5px dashed;
    .card {
      width: 100px;
      height: 200px;
      background-color: red;
    }
  }
}

// .card_container .card {
//     width: 100px;
//     height: 200px;
//     background-color: red;
// }
